.button {
    border: none;
    transition: 0.4s;
}

.button__form {
    padding: 10px;
    background-color: hsl(180, 100%, 25%);
    color: white;
}

.button__form:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.02);
}

.button__form:active {
    background-color: hsl(180, 100%, 35%);
}

.button__tasks {
    border: none;
    background-color: transparent;
    color: hsl(180, 100%, 25%);
}

.button__tasks:hover {
    color:hsl(180, 100%, 30%);
}

.button__tasks:active {
    color:hsl(180, 100%, 35%);
}