.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd
}

.form__button {
    border: none;
    padding: 10px;
    background-color: hsl(180, 100%, 25%);
    color: white;
    transition: 0.8s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}